body {
  background-color: rgb(241 245 249);
  color: rgb(15 23 42);
  min-height: 100vh;
}

* {
  outline-color: #3992ff;
}

body.dark-bg {
  background-color: rgb(15 23 42);
  color: rgb(203 213 225);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

nav {
  background-color: rgb(15 23 42);
  border-bottom-width: 1px;
  border-color: rgb(30 41 59);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;

  .logo {
    display: block;
    flex: 1 0 33.3%;
    line-height: 0.75rem;
    white-space: nowrap;

    :first-child {
      color: rgb(255 255 255);
      font-size: 1.5rem;
      font-weight: 900;
      text-decoration: none;
      line-height: 2rem;
    }
    :last-child {
      color: rgb(100 116 139);
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1 1 33.3%;
    justify-content: center;

    &:last-of-type {
      justify-content: end;
    }

    & > a {
      color: rgb(100 116 139);
      font-size: 0.75rem;
      line-height: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      img,
      svg {
        height: 2rem;
        width: 2rem;
        color: white;
      }
    }
  }
}

main {
  flex-grow: 1;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main.login,
main.splash {
  article {
    width: 100%;
    max-width: 28rem;
    margin: 5rem auto;

    & > * + * {
      margin-top: 0.875rem;
    }
    a {
      text-decoration: underline;
    }

    h1 {
      letter-spacing: -0.025em;
      line-height: 2.25rem;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      margin: 1.5rem 0 2.5rem;
      color: rgb(17 24 39);
    }

    h2 {
      font-weight: 700;
      color: black;
      margin-top: 1rem;
    }
  }

  &.splash {
    article {
      margin-top: 0.5rem;
      h1 {
        color: white;
        font-size: 2rem;
        line-height: 4rem;
        margin: 2rem 0 2rem;
      }
      h2 {
        color: white;
        font-size: 1.25rem;
        text-align: center;
      }
    }
  }

  form {
    background-color: white;
    padding: 3rem;
    box-shadow:
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;

    .sub-submit {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgb(100 116 139);
    }

    label {
      display: block;
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: rgb(17 24 39);
    }

    input[type="text"],
    input:not([type]),
    input[type="password"] {
      display: block;
      width: 100%;
      border-radius: 0.375rem;
      border-width: 0;
      padding: 0.375rem 0.5rem;
      color: rgb(17 24 39);
      box-shadow:
        inset 0 0 0 1px rgb(209 213 219),
        0 1px 2px 0 rgb(0 0 0 / 5%);
    }

    input[type="color"] {
      background-color: transparent;
    }

    button[type="submit"]:not(.icon-button) {
      text-align: center;
      border-radius: 0.375rem;
      background-color: rgb(57 146 255);
      padding: 0.25rem;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.5rem;
      color: white;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

      &:focus-visible {
        outline-width: 2px;
        outline-offset: 2px;
      }
    }

    .form-error {
      color: rgb(248 113 113);
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
    }
  }

  div.sign-in-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 28rem;
    margin: 2rem auto 0;
    border-radius: 1.5rem;
    padding: 2.5rem;
    background-color: rgb(30 41 59);
    color: rgb(61 239 233);
    text-decoration: underline;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
}

main.home {
  h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
  }

  & > form {
    padding: 2rem;
    max-width: 28rem;

    div.form-row {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  section#boards {
    padding: 2rem;

    div.board-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      a {
        padding: 1rem;
        background-color: white;
        border-bottom-width: 8px;
        border-radius: 0.25rem;
        width: 15rem;
        height: 10rem;
        display: block;
        position: relative;
        font-weight: 700;
        box-shadow:
          rgba(0, 0, 0, 0.1) 0 1px 3px 0,
          rgba(0, 0, 0, 0.1) 0 1px 2px -1px;

        &:hover {
          box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        }

        button {
          position: absolute;
          top: 1rem;
          right: 1rem;
          height: 1.5rem;

          svg {
            height: 1rem;
            width: 1rem;
            display: inline;
            align-self: center;
          }

          &:hover {
            color: rgb(244 66 80);
          }
        }
      }
    }
  }
}

main.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow-x: scroll;

  h1 {
    button {
      margin: 1rem 2rem;
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 0.25rem 0.5rem;
      border-color: transparent;
      border-width: 1px;
      border-radius: 0.5rem;
      display: block;
      color: rgb(30 41 59);
      font-weight: 500;
    }
    input[type="text"] {
      margin: 1rem 2rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid rgb(148 163 184);
      border-radius: 0.5rem;
      color: black;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      width: unset;
      display: inline-block;
    }
  }

  .update-board-name {
    input[type="text"] {
      margin: 1rem 2rem;
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 0.25rem 0.5rem;
      border-color: transparent;
      border-width: 1px;
      border-radius: 0.5rem;
      display: inline-block;
      color: rgb(30 41 59);
      font-weight: 500;
      width: 100%;
      background-color: transparent;
      cursor: pointer;
    }

    &:focus-within input[type="text"] {
      margin: 1rem 2rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid rgb(148 163 184);
      border-radius: 0.5rem;
      color: black;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      width: unset;
      background-color: white;
      display: inline-block;
    }
  }

  .columns {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    height: 100%;
    align-items: start;
    padding: 0 2rem 1rem;

    .column {
      flex-shrink: 0;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      margin-left: -2px;
      padding: 0 0.5rem;
      height: 100%;
      transform: translate(0px, 0px);
      transition: transform 70ms ease-out;

      &[data-over-left] {
        border-left-color: rgb(244 66 80);
      }
      &[data-over-right] {
        border-right-color: rgb(244 66 80);
      }
    }

    .column-content {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      width: 20rem;
      background-color: rgb(241 245 249);
      border-color: rgb(148 163 184);
      box-shadow: 0 1px 2px 0 #94a3b8;
      border-radius: 0.75rem;
      position: relative;

      .column-header {
        padding: 0.5rem;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        cursor: grab;

        & > button {
          display: none;
          text-align: left;
          width: unset;
          border-radius: 0.75rem;
          border-width: 1px;
          border-color: transparent;
          padding: 0.25rem 0.5rem;
          font-weight: 500;
          color: rgb(71 85 105);
        }

        .update-column-name {
          flex-grow: 1;

          input[type="text"] {
            text-align: left;
            width: unset;
            border-radius: 0.75rem;
            border-width: 1px;
            border-color: transparent;
            padding: 0.25rem 0.5rem;
            font-weight: 500;
            color: rgb(71 85 105);
            background-color: transparent;
          }

          &:focus-within {
            input[type="text"] {
              background-color: white;
              border: 1px solid rgb(148 163 184);
              width: 100%;
              padding: 0.25rem 0.5rem;
              border-radius: 0.5rem;
              font-weight: 500;
              color: black;
            }
          }
        }

        & > form {
          padding-right: 0.5rem;
          display: flex;
          align-items: center;

          button {
            &:hover {
              color: rgb(244 66 80);
            }

            svg {
              width: 1rem;
              height: 1rem;
              display: inline;
              align-self: center;
            }
          }
        }
      }

      .item-list {
        flex-grow: 1;
        overflow: auto;
        margin-top: -2px;
        border-top-width: 2px;
        border-color: transparent;

        &[data-over-top] {
          border-top-color: rgb(244 66 80);
        }

        .item {
          border-top-width: 2px;
          border-bottom-width: 2px;
          margin-bottom: -2px;
          cursor: grab;
          padding: 0.25rem 0.5rem;
          border-color: transparent;
          transform: translate(0px, 0px);
          transition: transform 40ms ease-out;

          &[data-over-top] {
            border-top-color: rgb(244 66 80);
          }
          &[data-over-bottom] {
            border-bottom-color: rgb(244 66 80);
          }

          &:active {
            cursor: grabbing;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .item-content {
            background: white;
            box-shadow:
              0 1px 3px 0 #cbd5e1,
              0 1px 2px -1px #cbd5e1;
            border-color: #cbd5e1;
            font-size: 0.875rem;
            line-height: 1.25rem;
            border-radius: 0.75rem;
            width: 100%;
            padding: 0.25rem 0.5rem;
            position: relative;

            & > .spacer {
              margin-top: 0.5rem;
            }

            form button {
              position: absolute;
              top: 1rem;
              right: 1rem;

              &:hover {
                color: rgb(244 66 80);
              }

              svg {
                width: 1rem;
                height: 1rem;
                display: inline;
                align-self: center;
              }
            }
          }
        }
      }

      .add-item {
        margin: 0.5rem;
        flex-grow: 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-align: left;
        border-radius: 0.75rem;
        padding: 0.5rem;
        font-weight: 500;
        color: rgb(100 116 139);

        &:hover {
          background-color: rgb(226 232 240);
        }

        & > svg {
          width: 1rem;
          height: 1rem;
          display: inline;
          align-self: center;
        }
      }

      .new-item:not(:focus-within):not(:has(+ .cancel-button:focus-visible)) {
        position: relative;

        textarea {
          margin: 0.5rem;
          flex-grow: 0;
          text-align: left;
          border-radius: 0.75rem;
          padding: 0.5rem 0.5rem 0.5rem 2rem;
          width: calc(100% - 1rem);
          height: 2.5rem;
          resize: none;
          background-color: transparent;
          cursor: pointer;

          &::placeholder {
            color: transparent;
          }

          &:hover {
            background-color: rgb(226 232 240);
          }
        }

        .buttons {
          display: none;
        }

        .add-item-button {
          color: rgb(100 116 139);
          position: absolute;
          top: 1rem;
          left: 1rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-align: left;
          pointer-events: none;

          svg {
            height: 1rem;
            width: 1rem;
          }
        }

        & + .cancel-button {
          display: none;
        }
      }

      .new-item:focus-within,
      .new-item:has(+ .cancel-button:focus-visible) {
        padding: 0.25rem 0.5rem;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-color: transparent;

        textarea {
          background-color: white;
          border: 1px solid rgb(148 163 184);
          width: 100%;
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: black;
        }

        .add-item-button {
          display: none;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
        }

        button {
          font-size: 0.875rem;
          line-height: 1.25rem;
          border-radius: 0.5rem;
          text-align: left;
          padding: 0.5rem;
          font-weight: 500;

          &[type="submit"] {
            color: white;
            background-color: rgb(57 146 255);
          }
          &[type="button"]:focus {
            background-color: rgb(226 232 240);
          }
        }
        & + .cancel-button {
          position: absolute;
          bottom: 0.25rem;
          right: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
          font-weight: 500;
          &:hover {
            background-color: rgb(226 232 240);
          }
        }
      }
    }

    .add-column {
      flex-shrink: 0;
      margin: 0 0.5rem;
      display: flex;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      background-color: rgb(0 0 0 / 0.1);
      border-radius: 0.75rem;

      &:hover {
        background-color: rgb(255 255 255 / 0.05);
      }

      svg {
        width: 2rem;
        height: 2rem;
        display: inline;
        align-self: center;
      }
    }

    .new-column-container {
      flex-shrink: 0;
      position: relative;
      margin: 0 0.5rem;
    }
    .new-column {
      &:not(:focus-within) input[type="text"] {
        background-color: rgb(0 0 0 / 0.1);
        border-radius: 0.75rem;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
        &:hover {
          background-color: rgb(255 255 255 / 0.05);
        }
      }

      .plus-icon {
        position: absolute;
        height: 2rem;
        width: 2rem;
        top: 1rem;
        left: 1rem;
        pointer-events: none;
      }

      .buttons {
        display: none;
      }

      & + .cancel-button {
        display: none;
      }

      &:focus-within {
        padding: 0.5rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        overflow: hidden;
        max-height: 100%;
        width: 20rem;
        border-width: 1px;
        border-radius: 0.75rem;
        background-color: rgb(241 245 249);
        box-shadow:
          0 1px 3px 0 #cbd5e1,
          0 1px 2px -1px #cbd5e1;

        input[type="text"] {
          box-shadow: none;
          padding: 0.25rem 0.5rem;
          border-width: 1px;
          border-radius: 0.5rem;
          border-color: rgb(148 163 184);
          font-weight: 500;
        }

        .plus-icon {
          display: none;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          button {
            font-size: 0.875rem;
            line-height: 1.25rem;
            border-radius: 0.5rem;
            text-align: left;
            padding: 0.5rem;
            font-weight: 500;
            color: white;
            background-color: rgb(57 146 255);
          }
        }

        & + .cancel-button {
          display: block;
          position: absolute;
          bottom: 0.25rem;
          right: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          border-radius: 0.5rem;
          text-align: left;
          padding: 0.5rem;
          font-weight: 500;

          &:hover {
            background-color: rgb(226 232 240);
          }
        }
      }

      /*button {*/
      /*  font-size: 0.875rem;*/
      /*  line-height: 1.25rem;*/
      /*  border-radius: 0.5rem;*/
      /*  text-align: left;*/
      /*  padding: 0.5rem;*/
      /*  font-weight: 500;*/

      /*  &[type="submit"] {*/
      /*    color: white;*/
      /*    background-color: rgb(57 146 255);*/
      /*  }*/
      /*  &[type="button"]:hover,*/
      /*  &[type="button"]:focus {*/
      /*    background-color: rgb(226 232 240);*/
      /*  }*/
      /*}*/
    }

    & > .spacer {
      flex-shrink: 0;
      width: 2rem;
      height: 0.25rem;
    }
  }
}
